.img-downsize{
    width:50%;
    max-width:50%;;
    height:auto;
}

.img-downsize-md{
    width:75%;
    max-width:75%;;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.img-downsize-sm{
    width:100%;
    max-width:100%;;
    height:auto;
}

#latitude {
    margin:  15px 10px -8px 10px;
    padding: 5px;
    background-color: #5cb85c;
    color: #f7f7f7;
}

#navItems {
    margin-bottom: -30px;
    margin-right: 10px;  
}


.bg-custom {
    background-color:white;
}

.background {
    background-color: #EDEDED;
    height: 100%;
    margin-top: 60px;
}

#summary {
    max-width: 85%;
    margin-bottom: 500px;
}
#visualizations {
    max-width: 80%;
}
#comparisons {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#data {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.mar_1 {
    margin: 10px -50px 0px 10px !important;
 }

.mar_2 {
    margin: 10px 10px 0px -10px !important;
 }

.mar_3 {
    margin: 30px -50px -30px 10px !important;
 }

.mar_4 {
    margin: 30px 10px -30px -10px !important;
 }

h1 {
    font-size: 5.5vw;
  }
h2 {
    font-size: 4.0vw;
  }
h3 {
    font-size: 3.0vw;
  }
h4 {
    font-size: 2.5vw;
    font-weight: bolder;
  }
p,th,li, .fontp{
    font-size: 1.5vw;
    line-height: 1.7;
  }
tr,td {
    font-size: 1.2vw;
  }


.background_page{
    background-color:  #EDEDED;
}


#navItems > ul > li > div > a {
    font-size: 1.4vw;
    line-height: 2vh;
    font-weight: 1vmin;
    height: 2vh;
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 0px 0px;
}



.dropdown-menu{
    background-color:white;
    height: 10vh;
    width:20vw;
    min-width: 0;
    overflow: scroll;
  }

.dropdown-menu>a.active{
    background-color: lightcoral;
    color: white;
  }

@media all and (min-width: 768px){
    li:hover a:hover {
        background-color: lightcoral;
      }
}  

@media all and (max-width: 768px) {

    #latitude {
        color: #f7f7f7;
        margin:  15px 10px 10px 10px;
        padding: 5px;
    }
    .bg-custom {
        background-color:#5cb85c;
    }

    .background {
        background-color:white;
    }
    #summary {
        margin-bottom:0px;
        padding-bottom:0px;
        max-width: 100%;
    }
    #visualizations {
        margin-top:0px;
        padding-top:0px;
        padding-left: 30px;
        max-width: 100%;
    }

    .mar_1, .mar_2, .mar_3, .mar_4 {
        margin: 0px !important;
     }

     h1 {
        font-size: 8.0vw;
      }
    h2 {
        font-size: 6.5vw;
      }
    h3 {
        font-size: 5.0vw;
      }
    h4 {
        font-size: 3.5vw;
        font-weight: bolder;
      }
    p,th,li, .fontp {
        font-size: 2.5vw;
        line-height: 1.7;
      }

    tr,td {
        font-size: 1.5vw;
      }

    .background_page{
        background-color: white;
    }

    #data {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

    .dropdown-menu{
        background-color: #5cb85c;
        color:grey;
        border: none !important;
        border-radius: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
      }
    
    li:hover a:hover {
        text-decoration: underline;
      }
}