.img-downsize{
    width:50%;
    max-width:50%;;
    height:auto;
}

.img-downsize-md{
    width:75%;
    max-width:75%;;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.img-downsize-sm{
    width:100%;
    max-width:100%;;
    height:auto;
}

#latitude {
    margin:  0px 0px 0px 10px;
    padding: 13px 5px 17px 5px;
    background-color: #5cb85c;
    color: #f7f7f7;
}

.navbar {
    margin-top:0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.bg-custom {
    background-color:white;
}

.background {
    background-color: #EDEDED;
    height: 100%;
    margin-top: 0px;
    padding-top:100px;
}

#summary {
    max-width: 85%;
    margin-bottom: 500px;
}
#visualizations {
    max-width: 80%;
}
#comparisons {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#data {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.mar_1 {
    margin: 10px -50px 0px 10px;
 }

.mar_2 {
    margin: 10px 10px 0px -10px;
 }

.mar_3 {
    margin: 30px -50px -30px 10px;
 }

.mar_4 {
    margin: 30px 10px -30px -10px;
 }



.background_page{
    background-color:  #EDEDED;
}


li:hover a:hover {
    text-decoration: none;
    border: none;
    transform: skew(-20deg);
  }

.img-active, .img-hover:hover {
   box-shadow:  0px 0px 5px 2px purple;
}

@media all and (min-width: 768px) {
    .disp-rule {
        display: none;
    }

    .pos-right {
        margin-left:auto;
    }

    .dropdown-menu{
        background-color:white;
        height: 350%;
        width:200%;
        min-width: 0;
        overflow: scroll;
      }
    
    .dropdown-menu>a.active{
        background-color: lightcoral;
        color: white;
      }
}
@media all and (max-width: 768px) {

    #latitude {
        color: #f7f7f7;
        margin:  15px 10px 10px 10px;
        padding: 5px;
    }
    .bg-custom {
        background-color:#5cb85c;
    }

    .background {
        background-color:white;
    }
    #summary {
        margin-bottom:0px;
        padding-bottom:0px;
        max-width: 100%;
    }
    #visualizations {
        margin-top:0px;
        padding-top:0px;
        padding-left: 30px;
        max-width: 100%;
    }

    #comparisons {
        max-width: 100%;
        margin-top: 50px;
    }

    .mar_1, .mar_2, .mar_3, .mar_4 {
        margin: 0px !important;
     }

    
    .background_page{
        background-color: white;
    }

    #data {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    
    .ws-fix {
        margin-top: 4vh;
    }

    .g-fix {
        margin-top: 5vh;
    }
    .img-fix {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 75%;
    }

    .disp-rule {
        margin-top: 5vh;
        margin-bottom: 6vh;
        margin-left: 20px;
        margin-right: 20px;
    }

    .dropdown-menu{
        background-color:#5cb85c;
        border:none;
      }
    
    .dropdown-menu>a.active{
        color: white;
        background-color: #5cb85c;
      }
}